<div class="panel">
	<h1>Manage orders</h1>
	<div class="row">
		<div class="col-6">
			<button id="new-btn" class="btn btn-success" onclick="$ctrl.promptNew()" type="button">
				<i class="fas fa-plus mr-2"></i>Take a new order
			</button>
		</div>
		<div class="col-6 d-flex justify-content-end">
			<input id="filter" type="text" placeholder="Search" class="form-control w-auto" />
		</div>
	</div>
	<hr />
	<div id="order-list"></div>
</div>

<div id="order-modal" class="modal modal-primary fade" tabindex="-1" role="dialog">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title"></h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<i class="fas fa-times" aria-hidden="true"></i>
				</button>
			</div>
			<div class="modal-body">
				<form id="order-form" class="needs-validation container-fluid" novalidate>
					<input id="code" class="d-none" />

					<label class="mb-0"><b>Detail</b></label>
					<div id="detail-list"></div>
					<div class="row align-items-stretch">
						<div class="col-7">
							<select id="menu" class="form-control"></select>
						</div>
						<div class="col-3">
							<input
								type="number"
								id="amount"
								min="1"
								max="99"
								minlength="1"
								maxlength="2"
								class="form-control text-center"
							/>
						</div>
						<div class="col-auto">
							<button type="button" class="btn btn-success h-100" onclick="$ctrl.addDetail()">
								<i class="fas fa-check"></i>
							</button>
						</div>
					</div>

					<div class="form-group pt-2">
						<label for="table">Table</label>
						<select id="table" class="form-control"></select>
					</div>
					<div class="form-group pt-2">
						<label for="state">State</label>
						<select id="state" class="form-control"></select>
					</div>
					<div class="form-group pt-2">
						<label for="user">User in charge</label>
						<select id="user" class="form-control"></select>
					</div>
				</form>
			</div>
			<div class="modal-footer justify-content-between">
				<div>
					<button type="button" id="delete" class="btn btn-danger" onclick="$ctrl.promptDelete()">
						Delete
					</button>
				</div>
				<div>
					<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
					<button type="submit" form="table-form" class="btn btn-success">Save</button>
				</div>
			</div>
		</div>
	</div>
</div>
