$theme-colors: (
	"primary": #db7093
);

$fa-font-path: "~@fortawesome/fontawesome-free/webfonts";
@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/brands";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~@fortawesome/fontawesome-free/scss/regular";
@import "~bootstrap/scss/bootstrap";
@import "~typeface-nunito/index.css";
@import "~typeface-lobster/index.css";

body {
	margin: 0;
	padding: 0;
	min-width: 100vw;
	min-height: 100vh;
	display: block;
	font-family: "Nunito", "sans-serif" !important;
	position: relative;
	transition: all 0.5s ease-in-out;
}

.navbar-brand {
	font-weight: bolder;
	white-space: nowrap;

	#chevron {
		display: none;
		transition: all 0.5s ease-in-out;
	}
}

.panel {
	h1 {
		font-weight: 600;
		border-bottom: 0.3rem solid var(--primary);
		margin-bottom: 1.2rem;
	}
}

#sidebar {
	width: 250px;
	padding-right: 2rem;
	transition: all 0.5s ease-in-out;

	.sidebar-action {
		width: 100%;
		display: block;
		padding: 0.5rem 0rem;
		text-decoration: none;
		transition: all 0.25s ease-in;
		border-radius: 0.35rem;
		background: none;
		text-align: left;
		border: none;
		color: var(--primary);

		&.active {
			color: white;
			font-weight: bold;
			padding-left: 0.65rem;
			padding-right: 0.65rem;
			background-color: var(--primary);
			&:focus {
				outline: none;
			}
		}
	}
}

@media all and (max-width: 768px) {
	.navbar-brand {
		z-index: 998;

		#chevron {
			display: inline-block;

			&.active {
				transform: rotate(180deg);
			}
		}
	}

	#sidebar {
		position: absolute;
		top: 0;
		left: 0;
		padding: 7rem 0.5rem 0;
		min-height: 100%;
		background-color: white;
		transform: translateX(-100%);
		z-index: 997;

		&.active {
			transform: translateX(0%);
		}
	}
}
